<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>multipage-frame</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <link href="https://imgaliyuncdn.miaopai.com/static20131031/bobo_favicon.ico" rel="SHORTCUT ICON">
</head>
<body class="loading-body">
    <!-- loading start -->
    <div class="loftloader-wrapper pl-wave">
        <div class="loader">
            <span class="s1"></span>
            <span class="s2"></span>
            <span class="s3"></span>
        </div>
    </div>
    <!-- loading end -->     