<!-- adaptation start -->
<script src="https://wsqncdn.miaopai.com/static2018/wap/h5_push/bobo/global/dist/js/common/adaptation.min.js"></script>
<!-- adaptation end -->
<script>
    (function (window,document) {
        var _window = window,
            _document = document;
        //loading remove
        _document.onreadystatechange = function () {
            if (_document.readyState == 'complete') {
                _document.body.classList.remove("loading-body");
            }
        }
        if ('serviceWorker' in navigator) {
            _window.addEventListener('load', () => {
                navigator.serviceWorker
                  .register('/service-worker.js')
                  .then(registration => {
                    console.log('service-worker registed')
                  })
                  .catch(error => {
                    console.log(error)
                    console.log('service-worker registed error')
                  })
            })
        }
    })(window,document);
</script>